/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --bg: #0f0f0f;
  --card: #1a1a1a;
  --text: #ffffff;
  --text-muted: #aaaaaa;
  --accent: #7c5cff;
}

/* Base */
body {
  background-color: var(--bg);
  color: var(--text);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.search-container {
  display: flex;
  justify-content: end;
  margin: 2rem 0;
}

.search-form {
  display: flex;
  gap: 0.5rem;
}

.search-form input {
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  width: 260px;
}
.search-form button {
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  background: #e50914;
  color: white;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.loader-text {
  font-size: 1.2rem;
  color: #555;
  letter-spacing: 1px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.movie-card {
  background: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  display: block;
}

.pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.pagination button {
  padding: 6px 10px;
  background: #222;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background: #444;
}

.pagination .active {
  background: #e50914;
}

.error {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-top: 40px;
}

.no-results {
  text-align: center;
  color: #bbb;
  font-size: 18px;
  margin-top: 40px;
}
